.calc__container {
  @include themify($themes) {
    background-color: themed("bgCalcContainerColor");
  }

  width: 100%;
  height: calc(100vh - 50px);
  min-height: 500px;

  margin: 0;

  padding-top: 80px;

  @media (max-height: 680px) {
    padding-top: 15px;
  }

  transition-duration: 0s;
}

.calc {
  margin: 0 auto;
  padding: 10px 5px;

  border-radius: 5px;

  width: 338px;

  @media (max-width: 320px) {
    width: 300px;
  }

  @media (max-width: 280px) {
    width: 270px;
  }

  @include themify($themes) {
    background-color: themed("bgCalcColor");
  }

  @extend %shadowCalculator;

  &__monitor-container {
    width: 320px;
    height: 100px;

    @media (max-width: 320px) {
      width: 280px;
    }

    @media (max-width: 280px) {
      width: 250px;
    }

    margin: 5px 5px 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__monitor {
    line-height: 25px;
    text-align: right;

    @include themify($themes) {
      color: themed("fontColor");
    }

    transition-duration: 0s;
  }

  &__monitor-Action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media (max-width: 320px) {
      font-size: 14px;
    }

    @media (max-width: 280px) {
      font-size: 12px;
    }

    @include themify($themes) {
      color: themed("fontColor2");
    }
  }

  &__monitor-Action-container > * {
    padding-left: 4px;

    transition-duration: 0s;

    font-weight: 300;
    text-align: left;
  }

  &__monitor-Result {
    font-size: 22px;
    line-height: 30px;
    height: 30px;

    @media (max-width: 320px) {
      font-size: 20px;
    }

    @media (max-width: 280px) {
      font-size: 16px;
    }

    word-wrap: break-word;
    overflow-x: hidden;
  }

  &__monitor-Result::-webkit-scrollbar {
    width: 0;
  }

  &__btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__btn {
    width: 76px;
    height: 76px;

    @media (max-width: 320px) {
      width: 66.5px;
      height: 64px;
    }

    @media (max-width: 280px) {
      width: 59px;
      height: 59px;
    }

    margin: 3px;

    font-size: 24px;
    line-height: 60px;
    text-align: center;
    padding: 0;

    cursor: pointer;

    border-radius: 5px;

    transition-duration: 0.05s;
    -webkit-tap-highlight-color: #00000000;

    @include themify($themes) {
      background-color: themed("btnColor");
      color: themed("fontColor");
    }

    touch-action: none;

    @extend %shadowBtn;

    @media (hover: hover) {
      &:hover {
        @include themify($themes) {
          background-color: themed("btnHoverColor");
          color: themed("fontHoverColor");
        }

        transform: scale(1.1);
        transition-duration: 0.1s;
      }
    }
  }

  &__btn:active,
  .active {
    @include themify($themes) {
      background-color: themed("btnActiveColor");
      color: themed("fontActiveColor");
    }

    transform: scale(1);
    transition-duration: 0.05s;

    @extend %shadowOff;
  }
}
