.header {
  height: 50px;
  padding: 5px 10px;

  @include themify($themes) {
    background-color: themed("bgHeaderColor");
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;

    width: 100%;
    max-width: 720px;
    height: 40px;
  }

  &__logo {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    -webkit-tap-highlight-color: #00000000;

    @include themify($themes) {
      color: themed("fontColor");
      text-shadow: 0px 0px 13px themed("fontShadowColor");
    }

    &::after {
      content: " CALCULATOR";
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: normal;
    }
  }
}
