h1,
h2,
h3,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.calc * {
  font-family: "Rubik", sans-serif;
  transition-duration: 0.2s;
  box-sizing: border-box;
}

.header {
  height: 50px;
  padding: 5px 10px;
}
.theme-light .header {
  background-color: #c9c9c9;
}
.theme-dark .header {
  background-color: #292929;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  height: 40px;
}
.header__logo {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  -webkit-tap-highlight-color: #00000000;
}
.theme-light .header__logo {
  color: #303030;
  text-shadow: 0px 0px 13px #00000031;
}
.theme-dark .header__logo {
  color: #e4e4e4;
  text-shadow: 0px 0px 13px #ffffff52;
}
.header__logo::after {
  content: " CALCULATOR";
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal;
}

.theme-toggler {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
}
.theme-toggler__label {
  position: absolute;
  top: 6px;
  left: 0;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  float: right;
  border-radius: 100px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.theme-light .theme-toggler__label {
  background-color: #bfbfbf;
}
.theme-dark .theme-toggler__label {
  background-color: #494949;
}
.theme-toggler__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 90px;
  transition: 0.3s;
  background-image: url(../../../simple-calculator/src/icons/sunny-sharp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.theme-light .theme-toggler__input:checked + label + .theme-light {
  background-color: #bfbfbf;
}
.theme-dark .theme-toggler__input:checked + label + .theme-light {
  background-color: #494949;
}
.theme-toggler__input:checked + label:after {
  background-image: url(../../../simple-calculator/src/icons/moon-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.theme-toggler__input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

h1,
h2,
h3,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

* {
  font-family: "Rubik", sans-serif;
  transition-duration: 0.2s;
  box-sizing: border-box;
}

.theme-light .calc__btn {
  -webkit-box-shadow: 0px 0px 7px -2px #1c324366;
  -moz-box-shadow: 0px 0px 7px -2px #1c324366;
  box-shadow: 0px 0px 7px -2px #1c324366;
}
.theme-dark .calc__btn {
  -webkit-box-shadow: 0px 0px 7px -2px #000000;
  -moz-box-shadow: 0px 0px 7px -2px #000000;
  box-shadow: 0px 0px 7px -2px #000000;
}

.theme-light .calc {
  -webkit-box-shadow: 0px 0px 7px -2px #1c324366 inset;
  -moz-box-shadow: 0px 0px 7px -2px #1c324366 inset;
  box-shadow: 0px 0px 7px -2px #1c324366 inset;
}
.theme-dark .calc {
  -webkit-box-shadow: 0px 0px 7px -2px #000000 inset;
  -moz-box-shadow: 0px 0px 7px -2px #000000 inset;
  box-shadow: 0px 0px 7px -2px #000000 inset;
}

.calc__btn:active,
.calc .active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.calc__container {
  width: 100%;
  height: calc(100vh - 50px);
  min-height: 600px;
  margin: 0;
  padding-top: 80px;
  transition-duration: 0s;
}
@media (max-height: 680px) {
  .calc__container {
    padding-top: 15px;
  }
}
.theme-light .calc__container {
  background-color: #e9e9e9;
}
.theme-dark .calc__container {
  background-color: #222222;
}

.calc {
  width: 338px;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 5px;
}
@media (max-width: 320px) {
  .calc {
    width: 300px;
  }
}
@media (max-width: 280px) {
  .calc {
    width: 270px;
  }
}
.theme-light .calc {
  background-color: #dcdcdc;
}
.theme-dark .calc {
  background-color: #151515;
}
.calc__monitor-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px;
  height: 100px;
  margin: 5px 5px 25px;
}
@media (max-width: 320px) {
  .calc__monitor-container {
    width: 280px;
  }
}
@media (max-width: 280px) {
  .calc__monitor-container {
    width: 250px;
  }
}
.calc__monitor {
  line-height: 25px;
  text-align: right;
  transition-duration: 0s;
}
.theme-light .calc__monitor {
  color: #303030;
  text-shadow: 0px 0px 13px #00000031;
}
.theme-dark .calc__monitor {
  color: #e4e4e4;
  text-shadow: 0px 0px 13px #ffffff52;
}
.calc__monitor-Action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media (max-width: 320px) {
  .calc__monitor-Action-container {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  .calc__monitor-Action-container {
    font-size: 12px;
  }
}
.theme-light .calc__monitor-Action-container {
  color: #333333;
}
.theme-dark .calc__monitor-Action-container {
  color: #acacac;
}
.calc__monitor-Action-container > * {
  padding-left: 4px;
  font-weight: 300;
  transition-duration: 0s;
}
.theme-light .calc__monitor-Action-container > * {
  text-shadow: 0px 0px 13px #00000031;
}
.theme-dark .calc__monitor-Action-container > * {
  text-shadow: 0px 0px 13px #ffffff52;
}
.calc__monitor-Result {
  height: 30px;
  font-size: 21px;
  line-height: 30px;
  word-wrap: break-word;
  overflow-x: hidden;
}
@media (max-width: 320px) {
  .calc__monitor-Result {
    font-size: 18px;
  }
}
@media (max-width: 280px) {
  .calc__monitor-Result {
    font-size: 16px;
  }
}
.calc__btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.calc__btn {
  width: 76px;
  height: 76px;
  margin: 3px;
  padding: 0;
  border-radius: 5px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  transition-duration: 0.6s;
  -webkit-tap-highlight-color: #00000000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  touch-action: none;
}
@media (max-width: 320px) {
  .calc__btn {
    width: 66.5px;
    height: 64px;
  }
}
@media (max-width: 280px) {
  .calc__btn {
    width: 59px;
    height: 59px;
  }
}
.theme-light .calc__btn {
  background-color: #ededed;
  color: #303030;
  text-shadow: 0px 0px 13px #00000031;
}
.theme-dark .calc__btn {
  background-color: #222;
  color: #e4e4e4;
  text-shadow: 0px 0px 13px #ffffff52;
}
@media (hover: hover) {
  .calc__btn:hover {
    transform: scale(0.95);
    transition-duration: 0.2s;
  }
  .theme-light .calc__btn:hover {
    background-color: #222222;
    color: #ffffff;
  }
  .theme-dark .calc__btn:hover {
    background-color: #202020;
    color: #e4e4e4;
  }
}
.calc__btn:active,
.calc .active {
  transform: scale(0.95);
  transition-duration: 0s;
}
.theme-light .calc__btn:active,
.theme-light .calc .active {
  background-color: #101010;
  color: #ffffff;
  text-shadow: 0px 0px 16px #fff;
}
.theme-dark .calc__btn:active,
.theme-dark .calc .active {
  background-color: #070707;
  color: #ffffff;
  text-shadow: 0px 0px 16px #fff;
}

/*# sourceMappingURL=styles.css.map */
