body * {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.body.onload * {
  transition: none;
}

.theme-toggle.theme-light * {
  transition-duration: 0s;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #575757;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset;
}

::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9) inset;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(39, 39, 39);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9) inset;
  border: none;
  border-radius: 8px;
}

::selection {
  @include themify($themes) {
    background-color: themed("selectionColor");
  }
}
