* {
  font-family: 'Rubik', sans-serif;
  transition-duration: 0.2s;
  box-sizing: border-box;
}

body {
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }

  width: 100%;
  height: 100%;
}
