$themes: (
  light: (
    bgHeaderColor: #c9c9c9,
    headerBorderColor: #0000003d,
    bgThemeToggler: #bfbfbf,
    fontColor: #303030,
    fontShadowColor: #00000031,
    fontShadowColor2: #00000029,
    fontActiveShadowColor: #fff,
    selectionColor: #ffffff,
  ),
  dark: (
    bgHeaderColor: #292929,
    headerBorderColor: #222,
    bgThemeToggler: #494949,
    fontColor: #e4e4e4,
    fontShadowColor: #ffffff52,
    fontShadowColor2: #ffffff4d,
    fontActiveShadowColor: #fff,
    selectionColor: #595959,
  ),
);
