$themes: (
  light: (
    bgHeaderColor: #c9c9c9,
    headerBorderColor: #0000003d,
    headerShadowColor: #0000006e,
    bgThemeToggler: #bfbfbf,
    fontColor: #303030,
    fontHoverColor: #000000,
    fontShadowColor: #00000031,
    fontShadowColor2: #00000029,
    fontActiveShadowColor: #fff,
    selectionColor: #ffffff,
    lightEffectColor: #00000015,
  ),
  dark: (
    bgHeaderColor: #292929,
    headerBorderColor: #222,
    headerShadowColor: #0000005f,
    bgThemeToggler: #494949,
    fontColor: #e4e4e4,
    fontHoverColor: #ffffff,
    fontShadowColor: #ffffff52,
    fontShadowColor2: #ffffff4d,
    fontActiveShadowColor: #fff,
    selectionColor: #595959,
    lightEffectColor: #fffefe0c,
  ),
);
