@import "./utils/utils.scss";

.calc__container {
  width: 100%;
  height: calc(100vh - 50px);
  min-height: 600px;

  margin: 0;
  padding-top: 80px;

  transition-duration: 0s;

  @media (max-height: 680px) {
    padding-top: 15px;
  }

  @include themify($calculator-themes) {
    background-color: themed("bgCalcContainerColor");
  }
}

.calc {
  z-index: 2;
  position: relative;
  overflow: hidden;
  width: 338px;

  margin: 0 auto;
  padding: 10px 5px;

  border-radius: 5px;

  @media (max-width: 320px) {
    width: 300px;
  }

  @media (max-width: 280px) {
    width: 270px;
  }

  @include themify($calculator-themes) {
    background-color: themed("bgCalcColor");
  }

  @extend %shadowCalculator;

  &__shape-big,
  &__shape-small {
    z-index: 3;
    content: "";
    position: absolute;
    pointer-events: none;

    @include themify($calculator-themes) {
      background-color: themed("shapeColor");
    }

    border-radius: 50%;
    filter: blur(64px);
  }

  &__shape-big {
    width: 500px;
    height: 500px;

    top: -200px;
    left: -200px;
  }

  &__shape-small {
    width: 250px;
    height: 250px;

    bottom: -85px;
    right: -85px;
  }

  &__monitor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 320px;
    height: 100px;

    margin: 5px 5px 25px;

    line-height: 25px;
    text-align: right;

    @media (max-width: 320px) {
      width: 280px;
    }

    @media (max-width: 280px) {
      width: 250px;
    }

    @include themify($calculator-themes) {
      color: themed("fontColor");
      text-shadow: 0px 0px 13px themed("fontShadowColor");
    }
  }

  &__monitor-Action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media (max-width: 320px) {
      font-size: 14px;
    }

    @media (max-width: 280px) {
      font-size: 12px;
    }

    @include themify($calculator-themes) {
      color: themed("fontColor2");
    }
  }

  &__monitor-Action-container * {
    padding-left: 4px;
    font-weight: 300;

    @include themify($calculator-themes) {
      text-shadow: 0px 0px 13px themed("fontShadowColor");
    }
  }

  &__monitor-Result {
    height: 30px;

    font-size: 21px;
    line-height: 30px;
    word-wrap: break-word;
    overflow-x: hidden;

    @media (max-width: 320px) {
      font-size: 18px;
    }

    @media (max-width: 280px) {
      font-size: 16px;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__btn {
    user-select: none;
    position: relative;
    overflow: hidden;
    width: 76px;
    height: 76px;

    margin: 3px;
    padding: 0;

    border-radius: 5px;

    font-size: 24px;
    line-height: 60px;
    text-align: center;

    transition-duration: 0.6s;

    -webkit-tap-highlight-color: #00000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    touch-action: none;

    @media (max-width: 320px) {
      width: 66.5px;
      height: 64px;
    }

    @media (max-width: 280px) {
      width: 59px;
      height: 59px;
    }

    @include themify($calculator-themes) {
      background-color: themed("btnColor");
      color: themed("fontColor");
      text-shadow: 0px 0px 13px themed("fontShadowColor");
    }

    @extend %shadowBtn;

    @media (hover: hover) {
      &:hover {
        transform: scale(0.95);
        transition-duration: 0.2s;

        @include themify($calculator-themes) {
          background-color: themed("btnHoverColor");
          color: themed("fontHoverColor");
        }
      }
    }
  }

  &__btn:active,
  .active {
    transform: scale(0.95);
    transition-duration: 0s;

    @include themify($calculator-themes) {
      background-color: themed("btnActiveColor");
      color: themed("fontActiveColor");
      text-shadow: 0px 0px 16px themed("fontActiveShadowColor");
    }

    @extend %shadowOff;
  }

  &__btn::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;

    top: -50px;
    left: -50px;

    border-radius: 50%;
    filter: blur(24px);

    @include themify($calculator-themes) {
      background-color: themed("shapeColor");
    }
  }

  &__btn::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;

    bottom: -50px;
    right: -50px;
    border-radius: 50%;
    filter: blur(24px);

    @include themify($calculator-themes) {
      background-color: themed("shapeBtnColor");
    }
  }
}
