$calculator-themes: (
  light: (
    bgHeaderColor: #c9c9c9,
    headerBorderColor: #0000003d,
    bgThemeToggler: #bfbfbf,
    bgCalcContainerColor: #e9e9e9,
    bgCalcColor: #cacaca,
    btnColor: #ededed,
    btnHoverColor: #222222,
    btnActiveColor: #101010,
    btnShadowColor: #1c324366,
    CalcShadowColor: #1c324366,
    fontColor: #303030,
    fontColor2: #333333,
    fontActiveColor: #ffffff,
    fontHoverColor: #ffffff,
    fontShadowColor: #00000031,
    fontShadowColor2: #00000029,
    fontActiveShadowColor: #cacacab6,
    shapeColor: #ffffff2a,
    shapeBtnColor: #0000000e,
  ),
  dark: (
    bgHeaderColor: #292929,
    headerBorderColor: #222,
    bgThemeToggler: #494949,
    bgCalcContainerColor: #222222,
    bgCalcColor: #151515,
    btnColor: #222,
    btnHoverColor: #202020,
    btnActiveColor: #070707,
    btnShadowColor: #000000,
    CalcShadowColor: #000000,
    fontColor: #e4e4e4,
    fontColor2: #acacac,
    fontActiveColor: #ffffff,
    fontHoverColor: #e4e4e4,
    fontShadowColor: #ffffff52,
    fontShadowColor2: #ffffff4d,
    fontActiveShadowColor: #cacacab6,
    shapeColor: #ffffff05,
    shapeBtnColor: #00000010,
  ),
);
